* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ticTacToe {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
}

.title {
  margin-top: 5px;
  font-weight: 900;
  font-size: 20px;
  color: aliceblue;
  padding: 10px;
  border-radius: 20px;
}

#table {
  margin-top: 10px;
  width: 300px;
  position: relative;
}
.tr1{
  display: flex;
  border-bottom:3px solid #fff;
}
.tr2{
  display: flex;
  border-bottom:3px solid #fff;
  border-top:3px solid #fff;
}
.tr3{
  display: flex;
  border-top:3px solid #fff;
}
.th,
.insideMulti,
.insideCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 0, 0);
}
.th:last-child{
border-left: 6px solid #fff;
}
.th:nth-last-child(2){
border-left: 6px solid #fff;
}
.insideMulti:last-child{
border-left: 6px solid #fff;
}
.insideMulti:nth-last-child(2){
border-left: 6px solid #fff;
}
.insideCircle:last-child{
border-left: 6px solid #fff;
}
.insideCircle:nth-last-child(2){
border-left: 6px solid #fff;
}

.btnReload {
  margin-top: 5px;
  border: none;
  color: rgb(106, 243, 8);
  font-size: 25px;
  display: grid;
}
.btnReload span {
  font-size: 12px;
}
#oneUserPlay {
  display: none; 
  border: none;
}
#oneUserPlay .container{
  width: 50px;
  margin-top: 5px;
  color: rgb(106, 243, 8);
  border: none;
  font-size: 25px;
  display: grid;
}
#twoUserPlay {
  display: block; 
  border: none;
}
#twoUserPlay .container{
  width: 50px;
  margin-top: 5px;
  color: rgb(106, 243, 8);
  border: none;
  font-size: 25px;
  display: grid;
}
#oneUserPlay ,#twoUserPlay ,span {
  font-size: 12px;
}

.circle {
  width: 85px;
  height: 85px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
}
.circleWin {
  width: 85px;
  height: 85px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  animation-name: winkCircle;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-iteration-count: 2;
}
@keyframes winkCircle {
  0% {
    border: 0px;
  }
  100% {
    border: 10px solid rgb(255, 255, 255);
  }
}
.multiplicationLine1 {
  position: relative;
  width: 95px;
  height: 15px;
  background-color: #fff;
  transform: rotateZ(45deg);
}
.multiplicationLine2 {
  position: absolute;
  width: 95px;
  height: 15px;
  background-color: #fff;
  transform: rotateZ(-45deg);
}
.multiplicationLine1Win {
  position: relative;
  width: 95px;
  height: 15px;
  background-color: #fff;
  transform: rotateZ(45deg);
  animation-name: winkMultiplicationLine1;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-iteration-count: 2;
}
@keyframes winkMultiplicationLine1 {
  0% {
    background-color: rgb(0, 0, 0);
  }
  100% {
    background-color: #fff;
  }
}
.multiplicationLine2Win {
  position: absolute;
  width: 95px;
  height: 15px;
  background-color: #fff;
  transform: rotateZ(-45deg);
  animation-name: winkMultiplicationLine2;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-iteration-count: 2;
}
@keyframes winkMultiplicationLine2 {
  0% {
    background-color: rgb(0, 0, 0);
  }
  100% {
    background-color: #fff;
  }
}

.winCount {
  display: flex;
  justify-items: center;
  justify-content: center;
}
.btnReloadCount {
  margin-top: 5px;
  border: none;
  color: rgb(106, 243, 8);
  font-size: 25px;
  display: grid;
}
.btnReloadCount span {
  font-size: 12px;
}
.detailGame p {
  color: rgb(250, 172, 5);
  font-size: 25px;
}
.StyleUser1 i {
  margin-top: 5px;
  padding-right: 5px;
  color: rgb(251, 251, 251);
  font-size: 26px;
}
.StyleUser1 span{
  font-size: 30px;
  color: rgb(243, 240, 240);
}
.StyleUser2 i {
  margin-top: 5px;
  padding-right: 5px;
  color: rgb(255, 255, 255);
  font-size: 30px;
}
.StyleUser2 span{
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.detailGame {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 390px) {
  .title {
    font-size: 19px !important;
    padding: 8px;
  }
}
@media screen and (max-width: 370px) {
  .title {
    font-size: 18px !important;
    padding: 7px;
  }
}
@media screen and (max-width: 360px) {
  .title {
    font-size: 17px !important;
  }
}
@media screen and (max-width: 355px) {
  .title {
    font-size: 15px !important;
    padding: 5px;
  }
}
