* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #040404;
}
.ticTacToe {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
}

.title {
  margin-top: 5px;
  font-weight: 900;
  font-size: 20px;
  background-color: #52714d;
  color: aliceblue;
  padding: 10px;
  border-radius: 20px;
}
#table {
  margin-top: 10px;
  border: 2px solid #ffffff;
  width: 300px;
  position: relative;
}
.tr {
  display: flex;
}
.th,
.insideMulti,
.insideCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 0, 0);
}
.btnReload {
  margin-top: 5px;
  padding: 10px;
  border-radius: 50%;
  border: none;
  color: rgb(20, 229, 170);
}
.btnReload i {
  font-size: 25px;
}
.winUser1,
.winUser2 {
  display: none;
}
#oneUserPlay {
  margin-top: 5px;
  padding: 10px;
  color: rgb(20, 229, 170);
  border: none;
  font-size: 25px;
  display: none;
}
#twoUserPlay {
  margin-top: 5px;
  padding: 10px;
  border: none;
  color: rgb(20, 229, 170);
  font-size: 25px;
}

.circle {
  width: 85px;
  height: 85px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
}
.circleWin {
  width: 85px;
  height: 85px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  animation-name: winkCircle;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-iteration-count: 2;
}
@keyframes winkCircle {
  0% {
    border: 0px;
  }
  100% {
    border: 10px solid rgb(255, 255, 255);
  }
}
.multiplicationLine1 {
  position: relative;
  width: 95px;
  height: 15px;
  background-color: #fff;
  transform: rotateZ(45deg);
}
.multiplicationLine2 {
  position: absolute;
  width: 95px;
  height: 15px;
  background-color: #fff;
  transform: rotateZ(-45deg);
}
.multiplicationLine1Win {
  position: relative;
  width: 95px;
  height: 15px;
  background-color: #fff;
  transform: rotateZ(45deg);
  animation-name: winkMultiplicationLine1;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-iteration-count: 2;
}
@keyframes winkMultiplicationLine1 {
  0% {
    background-color: rgb(0, 0, 0);
  }
  100% {
    background-color: #fff;
  }
}
.multiplicationLine2Win {
  position: absolute;
  width: 95px;
  height: 15px;
  background-color: #fff;
  transform: rotateZ(-45deg);
  animation-name: winkMultiplicationLine2;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-iteration-count: 2;
}
@keyframes winkMultiplicationLine2 {
  0% {
    background-color: rgb(0, 0, 0);
  }
  100% {
    background-color: #fff;
  }
}

/* .winShow{
  display: grid;
  justify-items: center;
} */
/* .winShow p{
  color: #fff;
  font-size: 25px;
  color: rgb(20, 229, 170);
} */
.detailGame p {
  color: rgb(20, 229, 170);
  font-size: 20px;
}
.StyleUser1 i {
  padding-right: 5px;
  color: rgb(20, 229, 170);
  font-size: 20px;
}
.StyleUser2 i {
  padding-right: 5px;
  color: rgb(20, 229, 170);
  font-size: 20px;
}
.detailGame {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 390px) {
  .title {
    font-size: 19px !important;
    padding: 8px;
  }
}
@media screen and (max-width: 370px) {
  .title {
    font-size: 18px !important;
    padding: 7px;
  }
}
@media screen and (max-width: 360px) {
  .title {
    font-size: 17px !important;
  }
}
@media screen and (max-width: 355px) {
  .title {
    font-size: 15px !important;
    padding: 5px;
  }
}
